https://www.djangoproject.com/download/1.7.b4/tarball/
pytz==2014.4
psycopg2==2.5.3
Pillow==2.4.0

# For Heroku
dj-database-url==0.3.0
gunicorn==18.0
pystache==0.5.4
-e git+https://github.com/kennethreitz/dj-static.git#egg=dj-static_dev
static==1.0.2

# S3 storage
django-storages==1.1.8
boto==2.29.1

# Assets
-e git+https://github.com/blancltd/blanc-basic-assets.git#egg=blanc_basic_assets-dev
easy-thumbnails==2.0.1

# News
-e git+https://github.com/blancltd/blanc-basic-news.git#egg=blanc_basic_news-dev

# Pages
django-mptt==0.6.1
django-mptt-admin==0.1.8
six==1.6.1
-e git+https://github.com/blancltd/blanc-basic-pages.git#egg=blanc_basic_pages-dev

# Events
icalendar==3.6.2
python-dateutil==2.2
-e git+https://github.com/blancltd/blanc-basic-events.git#egg=blanc_basic_events-dev
