Django==1.7
pytz==2014.7
psycopg2==2.5.4
Pillow==2.5.3

# For Heroku
dj-database-url==0.3.0
gunicorn==19.1.1
pystache==0.5.4
-e git+https://github.com/kennethreitz/dj-static.git@e73fa3bce00ac30b78218d60ece9efe931058a95#egg=dj-static_dev
static3==0.5.1

# S3 storage
django-storages==1.1.8
boto==2.32.1

# Assets
blanc-basic-assets==0.3
easy-thumbnails==2.1

# News
blanc-basic-news==0.3

# Pages
django-mptt==0.6.1
django-mptt-admin==0.1.9
six==1.8.0
blanc-basic-pages==0.3

# Events
icalendar==3.8.3
python-dateutil==2.2
blanc-basic-events==0.3
