https://www.djangoproject.com/download/1.7.b4/tarball/
pytz==2014.4
psycopg2==2.5.3
Pillow==2.4.0

# For Heroku
dj-database-url==0.3.0
gunicorn==18.0
pystache==0.5.4
-e git+https://github.com/kennethreitz/dj-static.git@d818b56cf0f9a880fd9572b722fdac8680903fb2#egg=dj-static_dev
static3==0.5

# S3 storage
django-storages==1.1.8
boto==2.29.1

# Assets
blanc-basic-assets==0.3
easy-thumbnails==2.0.1

# News
blanc-basic-news==0.3

# Pages
django-mptt==0.6.1
django-mptt-admin==0.1.8
six==1.6.1
blanc-basic-pages==0.3

# Events
icalendar==3.6.2
python-dateutil==2.2
blanc-basic-events==0.3
